---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string[];
  github_url?: string;
  external_url?: string;
  read_more_url?: string;
  featured_image: string;
  alignment: "left" | "right";
}

const props = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/featured-projects/*.{jpeg,jpg,png,gif}",
);
if (!images[props.featured_image])
  throw new Error(
    `"${props.featured_image}" does not exist in glob: "src/assets/featured-projects/*.{jpeg,jpg,png,gif}"`,
  );
---

<div class={`alignment-${props.alignment} featured-project`}>
  <div>
    <Image
      class="featured-image"
      src={props.featured_image
        ? images[props.featured_image]()
        : images["../assets/portrait.jpg"]()}
      widths={[350, 700]}
      sizes={"(max-width: 400px) 350px, (min-width: 351px) 700px"}
      height={350}
      alt={props.title}
    />
  </div>
  <div class="featured-project-context">
    <div>
      <h2 class="primary-text poppins-bold">{props.title}</h2>
      {props.description.map((desc) => <p>{desc}</p>)}
    </div>
    <div class="information">
      {
        props.read_more_url ? (
          <a href={props.read_more_url} class="primary-text">
            Read more
          </a>
        ) : (
          <span />
        )
      }
      <div class="information-part-two">
        {
          props.github_url ? (
            <a href={props.github_url}>
              <Image
                src="/assets/icons/github.svg"
                width={24}
                height={24}
                alt="Github Repository Link"
              />
            </a>
          ) : (
            <span />
          )
        }
        {
          props.external_url ? (
            <a href={props.external_url} target="_blank">
              <Image
                src="/assets/icons/link-external.svg"
                width={24}
                height={24}
                alt="Project's External Link"
              />
            </a>
          ) : (
            <span />
          )
        }
      </div>
    </div>
  </div>
</div>
<br />

<style>
  .featured-project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }

  .featured-image {
    border-radius: 22px;
    object-fit: cover;
    object-position: center;
    width: 90vw;
    max-width: 710px;
    max-height: 350px;
  }

  .featured-project-context {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  h2 {
    font-size: 32px;
    margin: 0;
  }

  .information,
  .information-part-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  @media only screen and (min-width: 730px) {
    .featured-image {
      width: calc(45vw - 50px);
    }

    .featured-project-context {
      height: 350px;
    }

    .alignment-left {
      flex-direction: row;
    }

    .alignment-right {
      flex-direction: row-reverse;
    }
  }
</style>
