---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string[];
  stars?: number;
  github_url?: string;
  external_url?: string;
  read_more_url?: string;
  languages_n_tools?: string[];
}

const props = Astro.props;
---

<div class="featured-project">
  <div class="featured-headline">
    <div>
      <Image
        src="/assets/icons/repo.svg"
        width={24}
        height={24}
        alt="Repo Icon"
      />
      <h2>{props.title}</h2>
    </div>
    <div>
      <Image
        src="/assets/icons/star.svg"
        width={24}
        height={24}
        alt="Stars of repository"
      />
      <p>{props.stars}</p>
    </div>
  </div>
  <p>{props.description}</p>
  <div class="featured-footer">
    <div>
      {
        props.languages_n_tools?.map((language) => (
          <div class="language">
            <p>{language}</p>
          </div>
        ))
      }
    </div>
    <div>
      {
        props.external_url && (
          <a href={props.external_url}>
            <Image
              src="/assets/icons/link-external.svg"
              width={24}
              height={24}
              alt="Project External Link"
            />
          </a>
        )
      }
      {
        props.github_url && (
          <a href={props.github_url}>
            <Image
              src="/assets/icons/github.svg"
              width={24}
              height={24}
              alt="GitHub Repo Link"
            />
          </a>
        )
      }
    </div>
  </div>
</div>

<style>
  .featured-project {
    border-radius: 11px;
    border: 1px solid var(--text);
    padding: 15px;
    padding-bottom: 50px;
    margin: 0;
    position: relative;
  }

  .featured-project p {
    margin: 0;
  }

  .featured-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .featured-headline > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .featured-headline > div:last-child {
    gap: 5px;
  }

  .featured-headline > div > h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .featured-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
    position: absolute;
    bottom: 10px;
    width: calc(100% - 30px);
  }

  .featured-footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .featured-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .language {
    border-radius: 50px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .language p {
    padding: 5px 10px;
    font-size: 14px;
  }
</style>
