---
import Main from "./main.astro";
import Prose from "../components/Prose.astro";
import SocialButtons from "src/components/SocialButtons.astro";
import { Image } from "astro:assets";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
    pubDate: Date;
    v1Data?: {
      devtoUrl: string;
      readingTimeMinutes: number;
      coverImage?: string;
    };
  };
}

const { frontmatter } = Astro.props;
---

<Main
  title={frontmatter.title}
  description={frontmatter.description}
  pubDate={frontmatter.pubDate}
>
  {
    Astro.originPathname.startsWith("/draft/") && (
      <div
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <div>
          <span class="font-semibold text-yellow-800">This is a draft</span>{" "}
          This page is not indexed by search engines and isn't gurantted will
          even make to production page.
        </div>
      </div>
    )
  }

  <!-- For older blogs that includes title in the markdown content -->
  {
    !frontmatter.v1Data && (
      <>
        <div class="prose m-auto">
          <SocialButtons />
        </div>
        <p class="prose m-auto italic mb-2 text-gray-500">
          Published on: {frontmatter.pubDate.toDateString()}
        </p>
      </>
    )
  }

  <article>
    <Prose>
      <!-- For newer blogs that doesn't include title in markdown content -->
      {
        frontmatter.v1Data && (
          <>
            {frontmatter.v1Data.coverImage && (
              <Image
                src={frontmatter.v1Data.coverImage}
                alt={frontmatter.title}
                width={655}
                height={274}
              />
            )}
            <h1>{frontmatter.title}</h1>
            <div class="flex items-center gap-4 bg-secondary rounded-lg p-4">
              <Image
                src="https://media2.dev.to/dynamic/image/width=50,height=50,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Fuser%2Fprofile_image%2F1149176%2F1609ab55-e04b-43e7-9d95-38ee3f784c30.jpg"
                alt="Aditya Kumar (Author) profile pic"
                width={50}
                height={50}
                class="not-prose rounded-full min-w-[50px] min-h-[50px]"
                style="min-width:50px;min-height:50px;max-width:50px;max-height:50px;"
              />
              <div class="not-prose">
                <p class="font-semibold">Aditya Kumar</p>
                <p class="md:text-sm text-xs ">
                  Published on {frontmatter.pubDate.toDateString()}
                  <span>•</span>
                  {frontmatter.v1Data.readingTimeMinutes} min read
                </p>
              </div>
            </div>
          </>
        )
      }
      <slot />
    </Prose>
  </article>
</Main>
